.srm {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.srm1 {
    background-color: lightgoldenrodyellow;
    border-color: lightgoldenrodyellow;
}

.srm2 {
    background-color: #fafac7;
    border-color: #fafac7;
}

.srm3 {
    background-color: #fafac7;
    border-color: #fafac7;
}

.srm4 {
    background-color: #fafac1;
    border-color: #fafac1;
}

.srm5 {
    background-color: #fafabc;
    border-color: #fafabc;
}

.srm6 {
    background-color: #fafab6;
    border-color: #fafab6;
}

.srm7 {
    background-color: #fafab1;
    border-color: #fafab1;
}

.srm8 {
    background-color: #fafaab;
    border-color: #fafaab;
}

.srm9 {
    background-color: #fafaa6;
    border-color: #fafaa6;
}

.srm10 {
    background-color: #fafaa0;
    border-color: #fafaa0;
}

.srm11 {
    background-color: #fafa9b;
    border-color: #fafa9b;
}

.srm12 {
    background-color: #fafa95;
    border-color: #fafa95;
}

.srm13 {
    background-color: #fafa90;
    border-color: #fafa90;
}

.srm14 {
    background-color: #fafa8a;
    border-color: #fafa8a;
}

.srm15 {
    background-color: #fafa85;
    border-color: #fafa85;
}

.srm16 {
    background-color: #fafa7f;
    border-color: #fafa7f;
}

.srm17 {
    background-color: #fafa7a;
    border-color: #fafa7a;
}

.srm18 {
    background-color: #fafa74;
    border-color: #fafa74;
}

.srm19 {
    background-color: #fafa6f;
    border-color: #fafa6f;
}

.srm20 {
    background-color: #fafa69;
    border-color: #fafa69;
}

.srm21 {
    background-color: #fafa64;
    border-color: #fafa64;
}

.srm22 {
    background-color: #fafa5e;
    border-color: #fafa5e;
}

.srm23 {
    background-color: #fafa59;
    border-color: #fafa59;
}

.srm24 {
    background-color: #fafa53;
    border-color: #fafa53;
}

.srm25 {
    background-color: #fafa4e;
    border-color: #fafa4e;
}

.srm26 {
    background-color: #f9fa48;
    border-color: #f9fa48;
}

.srm27 {
    background-color: #f8f943;
    border-color: #f8f943;
}

.srm28 {
    background-color: #f7f83d;
    border-color: #f7f83d;
}

.srm29 {
    background-color: #f6f738;
    border-color: #f6f738;
}

.srm30 {
    background-color: #f5f632;
    border-color: #f5f632;
}

.srm31 {
    background-color: #f4f52d;
    border-color: #f4f52d;
}

.srm32 {
    background-color: #f3f42d;
    border-color: #f3f42d;
}

.srm33 {
    background-color: #f2f22d;
    border-color: #f2f22d;
}

.srm34 {
    background-color: #f1f02e;
    border-color: #f1f02e;
}

.srm35 {
    background-color: #f0ee2e;
    border-color: #f0ee2e;
}

.srm36 {
    background-color: #efec2e;
    border-color: #efec2e;
}

.srm37 {
    background-color: #eeea2e;
    border-color: #eeea2e;
}

.srm38 {
    background-color: #ede82f;
    border-color: #ede82f;
}

.srm39 {
    background-color: #ece62f;
    border-color: #ece62f;
}

.srm40 {
    background-color: #ebe42f;
    border-color: #ebe42f;
}

.srm41 {
    background-color: #eae22f;
    border-color: #eae22f;
}

.srm42 {
    background-color: #e9e030;
    border-color: #e9e030;
}

.srm43 {
    background-color: #e8de30;
    border-color: #e8de30;
}

.srm44 {
    background-color: #e7dc30;
    border-color: #e7dc30;
}

.srm45 {
    background-color: #e6da30;
    border-color: #e6da30;
}

.srm46 {
    background-color: #e5d831;
    border-color: #e5d831;
}

.srm47 {
     background-color: #e4d631;
    border-color: #e4d631;
}

.srm48 {
    background-color: #e3d431;
    border-color: #e3d431;
}

.srm49 {
    background-color: #e2d231;
    border-color: #e2d231;
}

.srm50 {
    background-color: #e1d032;
    border-color: #e1d032;
}

.srm51 {
    background-color: #e0ce32;
    border-color: #e0ce32;
}

.srm52 {
    background-color: #dfcc32;
    border-color: #dfcc32;
}

.srm53 {
    background-color: #deca32;
    border-color: #deca32;
}

.srm54 {
    background-color: #ddc833;
    border-color: #ddc833;
}

.srm55 {
    background-color: #dcc633;
    border-color: #dcc633;
}

.srm56 {
    background-color: #dbc433;
    border-color: #dbc433;
}

.srm57 {
    background-color: #dac233;
    border-color: #dac233;
}

.srm58 {
    background-color: #d9c034;
    border-color: #d9c034;
}

.srm59 {
    background-color: #d8be34;
    border-color: #d8be34;
}

.srm60 {
    background-color: #d7bc34;
    border-color: #d7bc34;
}

.srm61 {
    background-color: #d6ba34;
    border-color: #d6ba34;
}

.srm62 {
    background-color: #d5b835;
    border-color: #d5b835;
}

.srm63 {
    background-color: #d4b635;
    border-color: #d4b635;
}

.srm64 {
    background-color: #d3b435;
    border-color: #d3b435;
}

.srm65 {
    background-color: #d2b235;
    border-color: #d2b235;
}

.srm66 {
    background-color: #d1b036;
    border-color: #d1b036;
}

.srm67 {
    background-color: #d0ae36;
    border-color: #d0ae36;
}

.srm68 {
    background-color: #cfac36;
    border-color: #cfac36;
}

.srm69 {
    background-color: #ceaa36;
    border-color: #ceaa36;
}

.srm70 {
    background-color: #cda837;
    border-color: #cda837;
}

.srm71 {
    background-color: #cca637;
    border-color: #cca637;
}

.srm72 {
    background-color: #cba437;
    border-color: #cba437;
}

.srm73 {
    background-color: #caa237;
    border-color: #caa237;
}

.srm74 {
    background-color: #c9a038;
    border-color: #c9a038;
}

.srm75 {
    background-color: #c89e38;
    border-color: #c89e38;
}

.srm76 {
    background-color: #c89c38;
    border-color: #c89c38;
}

.srm77 {
    background-color: #c79a38;
    border-color: #c79a38;
}

.srm78 {
    background-color: #c79838;
    border-color: #c79838;
}

.srm79 {
    background-color: #c69638;
    border-color: #c69638;
}

.srm80 {
    background-color: #c69438;
    border-color: #c69438;
}

.srm81 {
    background-color: #c59238;
    border-color: #c59238;
}

.srm82 {
    background-color: #c59038;
    border-color: #c59038;
}

.srm83 {
    background-color: #c48e38;
    border-color: #c48e38;
}

.srm84 {
    background-color: #c48d38;
    border-color: #c48d38;
}

.srm85 {
    background-color: #c38c38;
    border-color: #c38c38;
}

.srm86 {
    background-color: #c38b38;
    border-color: #c38b38;
}

.srm87 {
    background-color: #c28b38;
    border-color: #c28b38;

}

.srm88 {
    background-color: #c28a38;
    border-color: #c28a38;
}

.srm89 {
    background-color: #c18938;
    border-color: #c18938;
}

.srm90 {
    background-color: #c18838;
    border-color: #c18838;
}

.srm91 {
    background-color: #c08838;
    border-color: #c08838;
}

.srm92 {
    background-color: #c08738;
    border-color: #c08738;
}

.srm93 {
    background-color: #c08638;
    border-color: #c08638;
}

.srm94 {
    background-color: #c08538;
    border-color: #c08538;
}

.srm95 {
    background-color: #c08538;
    border-color: #c08538;
}

.srm96 {
    background-color: #c08438;
    border-color: #c08438;
}

.srm97 {
    background-color: #c08338;
    border-color: #c08338;
}

.srm98 {
    background-color: #c08238;
    border-color: #c08238;
}

.srm99 {
    background-color: #c08238;
    border-color: #c08238;
}

.srm100 {
    background-color: #c08138;
    border-color: #c08138;
}

.srm101 {
    background-color: #c08038;
    border-color: #c08038;
}

.srm102 {
    background-color: #c07f38;
    border-color: #c07f38;
}

.srm103 {
    background-color: #c07f38;
    border-color: #c07f38;
}

.srm104 {
    background-color: #c07e38;
    border-color: #c07e38;
}

.srm105 {
    background-color: #c07d38;
    border-color: #c07d38;
}

.srm106 {
    background-color: #c07c38;
    border-color: #c07c38;
}

.srm107 {
    background-color: #c07c38;
    border-color: #c07c38;
}

.srm108 {
    background-color: #c07b38;
    border-color: #c07b38;
}

.srm109 {
    background-color: #c07a38;
    border-color: #c07a38;
}

.srm110 {
    background-color: #c07938;
    border-color: #c07938;
}

.srm111 {
    background-color: #c07938;
    border-color: #c07938;
}

.srm112 {
    background-color: #c07838;
    border-color: #c07838;
}

.srm113 {
    background-color: #c07738;
    border-color: #c07738;
}

.srm114 {
    background-color: #c07638;
    border-color: #c07638;

}

.srm115 {
    background-color: #c07638;
    border-color: #c07638;

}

.srm116 {
    background-color: #c07538;
    border-color: #c07538;
}

.srm117 {
    background-color: #c07438;
    border-color: #c07438;
}

.srm118 {
    background-color: #c07338;
    border-color: #c07338;
}

.srm119 {
    background-color: #c07338;
    border-color: #c07338;
}

.srm120 {
    background-color: #c07238;
    border-color: #c07238;
}

.srm121 {
    background-color: #c07138;
    border-color: #c07138;
}

.srm122 {
    background-color: #c07038;
    border-color: #c07038;
}

.srm123 {
    background-color: #c07038;
    border-color: #c07038;
}

.srm124 {
    background-color: #c06f38;
    border-color: #c06f38;
}

.srm125 {
    background-color: #c06e38;
    border-color: #c06e38;
}

.srm126 {
    background-color: #c06d38;
    border-color: #c06d38;
}

.srm127 {
    background-color: #c06d38;
    border-color: #c06d38;
}

.srm128 {
    background-color: #c06c38;
    border-color: #c06c38;
}

.srm129 {
    background-color: #bf6b38;
    border-color: #bf6b38;
}

.srm130 {
    background-color: #be6a38;
    border-color: #be6a38;
}

.srm131 {
    background-color: #bd6a38;
    border-color: #bd6a38;
}

.srm132 {
    background-color: #bc6938;
    border-color: #bc6938;
}

.srm133 {
    background-color: #bb6838;
    border-color: #bb6838;
}

.srm134 {
    background-color: #ba6738;
    border-color: #ba6738;
}

.srm135 {
    background-color: #b96738;
    border-color: #b96738;
}

.srm136 {
    background-color: #b86638;
    border-color: #b86638;
}

.srm137 {
    background-color: #b76538;
    border-color: #b76538;
}

.srm138 {
    background-color: #b66438;
    border-color: #b66438;
}

.srm139 {
    background-color: #b56438;
    border-color: #b56438;
}

.srm140 {
    background-color: #b46338;
    border-color: #b46338;
}

.srm141 {
    background-color: #b36238;
    border-color: #b36238;
}

.srm142 {
    background-color: #b26138;
    border-color: #b26138;
}

.srm143 {
    background-color: #b16138;
    border-color: #b16138;
}

.srm144 {
    background-color: #af6037;
    border-color: #af6037;
}

.srm145 {
    background-color: #ae5f37;
    border-color: #ae5f37;
}

.srm146 {
    background-color: #ac5e37;
    border-color: #ac5e37;
}

.srm147 {
    background-color: #ab5e37;
    border-color: #ab5e37;
}

.srm148 {
    background-color: #a95d36;
    border-color: #a95d36;
}

.srm149 {
    background-color: #a85c36;
    border-color: #a85c36;
}

.srm150 {
    background-color: #a75b36;
    border-color: #a75b36;
}

.srm151 {
    background-color: #a55b36;
    border-color: #a55b36;
}

.srm152 {
    background-color: #a45a35;
    border-color: #a45a35;
}

.srm153 {
    background-color: #a25935;
    border-color: #a25935;
}

.srm154 {
    background-color: #a15835;
    border-color: #a15835;
}

.srm155 {
    background-color: #9f5835;
    border-color: #9f5835;
}

.srm156 {
    background-color: #9e5734;
    border-color: #9e5734;
}

.srm157 {
    background-color: #9d5634;
    border-color: #9d5634;
}

.srm158 {
    background-color: #9b5534;
    border-color: #9b5534;
}

.srm159 {
    background-color: #9a5534;
    border-color: #9a5534;
}

.srm160 {
    background-color: #985433;
    border-color: #985433;
}

.srm161 {
    background-color: #975333;
    border-color: #975333;
}

.srm162 {
    background-color: #955233;
    border-color: #955233;
}

.srm163 {
    background-color: #945233;
    border-color: #945233;
}

.srm164 {
    background-color: #935132;
    border-color: #935132;
}

.srm165 {
    background-color: #915032;
    border-color: #915032;
}

.srm166 {
    background-color: #904f32;
    border-color: #904f32;
}

.srm167 {
    background-color: #8e4e32;
    border-color: #8e4e32;
}

.srm168 {
    background-color: #8d4d31;
    border-color: #8d4d31;
}

.srm169 {
    background-color: #8b4c31;
    border-color: #8b4c31;
}

.srm170 {
    background-color: #8a4b30;
    border-color: #8a4b30;
}

.srm171 {
    background-color: #894b2f;
    border-color: #894b2f;
}

.srm172 {
    background-color: #874a2f;
    border-color: #874a2f;
}

.srm173 {
    background-color: #86492e;
    border-color: #86492e;
}

.srm174 {
    background-color: #84482d;
    border-color: #84482d;
}

.srm175 {
    background-color: #83482d;
    border-color: #83482d;
}

.srm176 {
    background-color: #81472c;
    border-color: #81472c;
}

.srm177 {
    background-color: #80462b;
    border-color: #80462b;
}

.srm178 {
    background-color: #7f452b;
    border-color: #7f452b;
}

.srm179 {
    background-color: #7d452a;
    border-color: #7d452a;
}

.srm180 {
    background-color: #7c4429;
    border-color: #7c4429;
}

.srm181 {
    background-color: #7a4329;
    border-color: #7a4329;
}

.srm182 {
    background-color: #794228;
    border-color: #794228;
}

.srm183 {
    background-color: #774227;
    border-color: #774227;
}

.srm184 {
    background-color: #764127;
    border-color: #764127;
}

.srm185 {
    background-color: #754026;
    border-color: #754026;
}

.srm186 {
    background-color: #733f25;
    border-color: #733f25;
}

.srm187 {
    background-color: #723f25;
    border-color: #723f25;
}

.srm188 {
    background-color: #703e24;
    border-color: #703e24;
}

.srm189 {
    background-color: #6f3d23;
    border-color: #6f3d23;
}

.srm190 {
    background-color: #6d3c22;
    border-color: #6d3c22;
}

.srm191 {
    background-color: #6c3c21;
    border-color: #6c3c21;
}

.srm192 {
    background-color: #6b3b20;
    border-color: #6b3b20;
}

.srm193 {
    background-color: #693a1f;
    border-color: #693a1f;
}

.srm194 {
    background-color: #68391d;
    border-color: #68391d;
}

.srm195 {
    background-color: #66391c;
    border-color: #66391c;
}

.srm196 {
    background-color: #65381b;
    border-color: #65381b;
}

.srm197 {
    background-color: #63371a;
    border-color: #63371a;
}

.srm198 {
    background-color: #623619;
    border-color: #623619;
}

.srm199 {
    background-color: #613618;
    border-color: #613618;
}

.srm200 {
    background-color: #5f3517;
    border-color: #5f3517;
}

.srm201 {
    background-color: #5e3415;
    border-color: #5e3415;
}

.srm202 {
    background-color: #5c3314;
    border-color: #5c3314
}

.srm203 {
    background-color: #5b3313;
    border-color: #5b3313;
}

.srm204 {
    background-color: #593212;
    border-color: #593212;
}

.srm205 {
    background-color: #583111;
    border-color: #583111;
}

.srm206 {
    background-color: #573010;
    border-color: #573010;
}

.srm207 {
    background-color: #55300f;
    border-color: #55300f;
}

.srm208 {
    background-color: #542f0d;
    border-color: #542f0d;
}

.srm209 {
    background-color: #522e0c;
    border-color: #522e0c;
}

.srm210 {
    background-color: #512d0b;
    border-color: #512d0b;
}

.srm211 {
    background-color: #4f2d0a;
    border-color: #4f2d0a;
}

.srm212 {
    background-color: #4e2c09;
    border-color: #4e2c09;
}

.srm213 {
    background-color: #4d2b08;
    border-color: #4d2b08;
}

.srm214 {
    background-color: #4b2a09;
    border-color: #4b2a09;
}

.srm215 {
    background-color: #4a2a09;
    border-color: #4a2a09;
}

.srm216 {
    background-color: #48290a;
    border-color: #48290a;
}

.srm217 {
    background-color: #47280a;
    border-color: #47280a;
}

.srm218 {
    background-color: #45270b;
    border-color: #45270b;
}

.srm219 {
    background-color: #44270b;
    border-color: #44270b;
}

.srm220 {
    background-color: #43260c;
    border-color: #43260c;
}

.srm221 {
    background-color: #41250c;
    border-color: #41250c;
}

.srm222 {
    background-color: #40240d;
    border-color: #40240d;
}

.srm223 {
    background-color: #3e240d;
    border-color: #3e240d;
}

.srm224 {
    background-color: #3d230e;
    border-color: #3d230e;
}

.srm225 {
    background-color: #3b220e;
    border-color: #3b220e;
}

.srm226 {
    background-color: #3a210f;
    border-color: #3a210f;
}

.srm227 {
    background-color: #39210f;
    border-color: #39210f;
}

.srm228 {
    background-color: #372010;
    border-color: #372010;
}

.srm229 {
    background-color: #361f10;
    border-color: #361f10;
}

.srm230 {
    background-color: #341e11;
    border-color: #341e11;
}

.srm231 {
    background-color: #331e11;
    border-color: #331e11;
}

.srm232 {
    background-color: #311d12;
    border-color: #311d12;
}

.srm233 {
    background-color: #301c12;
    border-color: #301c12;
}

.srm234 {
    background-color: #2f1b13;
    border-color: #2f1b13;
}

.srm235 {
    background-color: #2d1b13;
    border-color: #2d1b13;
}

.srm236 {
    background-color: #2c1a14;
    border-color: #2c1a14;
}

.srm237 {
    background-color: #2a1914;
    border-color: #2a1914;
}

.srm238 {
    background-color: #291815;
    border-color: #291815;
}

.srm239 {
    background-color: #271815;
    border-color: #271815;
}

.srm240 {
    background-color: #261716;
    border-color: #261716;
}

.srm241 {
    background-color: #251615;
    border-color: #251615;
}

.srm242 {
    background-color: #251615;
    border-color: #251615;
}

.srm243 {
    background-color: #241615;
    border-color: #241615;
}

.srm244 {
    background-color: #241514;
    border-color: #241514;
}

.srm245 {
    background-color: #231514;
    border-color: #231514;
}

.srm246 {
    background-color: #231514;
    border-color: #231514;
}

.srm247 {
    background-color: #221413;
    border-color: #221413;
}

.srm248 {
    background-color: #221413;
    border-color: #221413;
}

.srm249 {
    background-color: #211413;
    border-color: #211413;
}

.srm250 {
    background-color: #211312;
    border-color: #211312;
}

.srm251 {
    background-color: #201312;
    border-color: #201312;
}

.srm252 {
    background-color: #201312;
    border-color: #201312;
}

.srm253 {
    background-color: #1f1211;
    border-color: #1f1211;
}

.srm254 {
    background-color: #1f1211;
    border-color: #1f1211;
}

.srm255 {
    background-color: #1e1211;
    border-color: #1e1211;
}

.srm256 {
    background-color: #1e1110;
    border-color: #1e1110;
}

.srm257 {
    background-color: #1d1110;
    border-color: #1d1110;
}

.srm258 {
    background-color: #1d1110;
    border-color: #1d1110;
}

.srm259 {
    background-color: #1c100f;
    border-color: #1c100f;
}

.srm260 {
    background-color: #1c100f;
    border-color: #1c100f;
}

.srm261 {
    background-color: #1b100f;
    border-color: #1b100f;
}

.srm262 {
    background-color: #1b0f0e;
    border-color: #1b0f0e;
}

.srm263 {
    background-color: #1a0f0e;
    border-color: #1a0f0e;
}

.srm264 {
    background-color: #1a0f0e;
    border-color: #1a0f0e;
}

.srm265 {
    background-color: #190e0d;
    border-color: #190e0d;
}

.srm266 {
    background-color: #190e0d;
    border-color: #190e0d;
}

.srm267 {
    background-color: #180e0d;
    border-color: #180e0d;
}

.srm268 {
    background-color: #180d0c;
    border-color: #180d0c;
}

.srm269 {
    background-color: #170d0c;
    border-color: #170d0c;
}

.srm270 {
    background-color: #170d0c;
    border-color: #170d0c;
}

.srm271 {
    background-color: #160c0b;
    border-color: #160c0b;
}

.srm272 {
    background-color: #160c0b;
    border-color: #160c0b;
}

.srm273 {
    background-color: #150c0b;
    border-color: #150c0b;
}

.srm274 {
    background-color: #150b0a;
    border-color: #150b0a;
}

.srm275 {
    background-color: #140b0a;
    border-color: #140b0a;
}

.srm276 {
    background-color: #140b0a;
    border-color: #140b0a;
}

.srm277 {
    background-color: #130a09;
    border-color: #130a09;
}

.srm278 {
    background-color: #130a09;
    border-color: #130a09;
}

.srm279 {
    background-color: #120a09;
    border-color: #120a09;
}

.srm280 {
    background-color: #120908;
    border-color: #120908;
}

.srm281 {
    background-color: #110908;
    border-color: #110908;
}

.srm282 {
    background-color: #110908;
    border-color: #110908;
}

.srm283 {
    background-color: #100807;
    border-color: #100807;
}

.srm284 {
    background-color: #100807;
    border-color: #100807;
}

.srm285 {
    background-color: #0f0807;
    border-color: #0f0807;
}

.srm286 {
    background-color: #0f0706;
    border-color: #0f0706;
}

.srm287 {
  fill: #0e0706;
    background-color: #0e0706;
    border-color: #0e0706;
}

.srm288 {
    background-color: #0e0706;
    border-color: #0e0706;
}

.srm289 {
    background-color: #0d0605;
    border-color: #0d0605;
}

.srm290 {
    background-color: #0d0605;
    border-color: #0d0605;
}

.srm291 {
    background-color: #0c0605;
    border-color: #0c0605;
}

.srm292 {
    background-color: #0c0504;
    border-color: #0c0504;
}

.srm293 {
    background-color: #0b0504;
    border-color: #0b0504;
}

.srm294 {
    background-color: #0b0504;
    border-color: #0b0504;
}

.srm295 {
    background-color: #0a0403;
    border-color: #0a0403;
}

.srm296 {
    background-color: #0a0403;
    border-color: #0a0403;
}

.srm297 {
    background-color: #090403;
    border-color: #090403;
}

.srm298 {
    background-color: #090302;
    border-color: #090302;
}

.srm299 {
    background-color: #080302;
    border-color: #080302;
}

.srm300 {
    background-color: #080302;
    border-color: #080302;
}

.srm310 {
    background-color: #060201;
    border-color: #060201;
}
