<div class="row">
</div>
<div class="row">
  <div class="col-lg-6">
    <form role="form">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" ng-model=model.name>
      </div>
      <div class="form-group">
        <label>ABV</label>
        <input class="form-control" ng-model="model.abv">
      </div>
      <div class="form-group">
        <label>SRM</label>
        <input class="form-control" ng-model="model.srm">
      </div>
      <div class="form-group">
        <label>IBU</label>
        <input class="form-control" ng-model="model.ibu">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="3" ng-model="model.description"></textarea>
      </div>
      <div class="form-group">
        <label>Style Category</label>
        <input class="form-control" ng-model="model.bjcp_style_category">
      </div>
      <div class="form-group">
        <label>Style Sub Category</label>
        <input class="form-control" ng-model="model.bjcp_style_subcategory">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="" ng-model="model.post_on_twitter">Post on Twitter
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>Brewery</label>
        <select class="form-control" ng-model="model.brewery_id" ng-options="brewery.id as brewery.name for brewery in breweries">
          <option value="">Select brewery...</option>
        </select>
      </div>
      <div class="panel">
        <button type="button" class="btn btn-primary" ng-click="saveModel()">Save</button>
        <button type="button" class="btn btn-default" ng-click="back()">Cancel</button>
      </div>  
    </form>
  </div>
</div>