<div>Name: {{keg.beer.name}}</div>
<div>Description: {{keg.beer.description}}</div>
<!--<div>Type: Pilsner</div>-->  <!-- e.g. style  TODO: figure out how to query it -->
<div>IBU: {{keg.beer.ubv}}</div>
<div>ABV: {{keg.beer.abv}}</div>
<div>Tap: {{keg.tap}}</div>
<div>Brewery: <a href={{keg.beer.brewery.website}}>{{keg.beer.brewery.name}}</a></div>
<div>Location: {{keg.beer.brewery.location}}</div>
<div>Twitter: @{{keg.beer.brewery.twitter_handle}}</div>
<!-- TODO: do more here: analytics, beer style etc -->